body {
  background-color: #213448;
  color: white;
  padding: 4px 4px;
  font-family: Tagesschrift, Arial;
  height: 2000px;
  margin: 0;
}

main {
  margin-left: 10px;
}

.information {
  display: flex;
}

.info {
  font-size: 34px;
  margin-bottom: 40px;
  margin-top: 100px;
}

.info-box {
  margin-right: 300px;
}

.background {
  font-size: 24px;
  font-style: italic;
  width: 1000px;
  margin-bottom: 36px;
}

.university,
.cgpa {
  font-size: 18px;
}

.my-picture {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border: 4px solid black;
}